.title{
        text-align: center;
        font-weight: bold;
        font-size: 140%;
        color: rgb(0, 153, 255);
        
}
.logo{
        text-align: center;
}
.phrase{
        font-family: sans-serif;
      
}
.contact{
        text-align: center;
       
}
#body{
        margin-block: 7px;
}


