.title{
        text-align: center;
        font-weight: bold;
        font-size: 140%;
        text-transform: capitalize;
        font-size: 250%;
        color: dodgerblue;
        
}
.logo{
        text-align: center;
        
       
}
.phrase{
        font-family: 'Times New Roman', Times, serif;
        font-size: 300%;
        float:center;
        text-transform: capitalize;
        color: #042D3D;
      
}
.facebook{

        color: white;
        background-color: dodgerblue;
        font-size: medium;
        padding: 15px;
        text-align: right;
        text-decoration: none;
        margin: 5px 2px;
        float: right;

}
.twitter{
        color: white;
        background-color: dodgerblue;
        font-size: medium;
        padding: 15px;
        text-align: right;
        text-decoration: none;
        margin: 5px 2px;
        float: right;

}
.link{
        text-align: center;
        color: white;
        background-color: deepskyblue;
        font-size: medium;
        padding: 15px;
        text-align: left;
        text-decoration: none;
        margin: 3px 2px;
       
}
.flex-container{
        display: flex;
}
.main-content{
        flex: 1;
        background-color: palevioletred;
        margin: 0;
}
.sidebar{
        flex: 1;
        background-color: paleturquoise;
        margin: 0;
}
form{
        border: 1px ;
       border-radius: 5px;
}