.title{
        text-align: center;
        font-weight: bold;
        font-size: 140%;
        color: rgb(0, 153, 255);
        text-transform: capitalize;
        font-size: 250%;
}
.logo{
        text-align: center;
        display: block;
        width: 251px;
        border-radius: 100px;
        margin: auto;
       
}
.phrase{
        font-family: 'Times New Roman', Times, serif;
        font-size: 300%;
        float:center;
        text-transform: capitalize;
        color: #042D3D;
      
}
.facebook{

        color: white;
        background-color: dodgerblue;
        font-size: medium;
        padding: 15px;
        text-align: right;
        text-decoration: none;
        margin: 5px 2px;

}
.twitter{
        color: white;
        background-color: dodgerblue;
        font-size: medium;
        padding: 15px;
        text-align: right;
        text-decoration: none;
        margin: 5px 2px;

}
.link{
        text-align: center;
        color: white;
        background-color: deepskyblue;
        font-size: medium;
        padding: 15px;
        text-align: left;
        text-decoration: none;
        margin: 3px 2px;
       
}
.flex-container{
        display: flex;
}
.main-content{
        flex: 1;
        background-color: palevioletred;
}
.sidebar{
        flex: 1;
        background-color: paleturquoise;
}
